

body{
    background-image: url("images/homeimg.png");
    background-repeat: no-repeat;
    background-size:cover;
}

.question{
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
}

.stop{
    position: absolute;
    bottom: 5px;
    right: 0px;
}



