<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INSTRUCTIONS</title>
    <style>
        body{
            margin: 3rem;
        }
    </style>
</head>
<body>


    <center><h1>INSTRUCTIONS</h1></center>
    <br>
    <p>The Test contains <b> 10 questions </b> we provide the results based on similarity between your answer and expected answer</p> 
    <br>
    <p>
        <b>
            1 personality based question and other questions related to computer Science stream topics like DBMS, AI-ML and other important CS topics are tested. 
        </b>
    </p>
    <br>
    <p><b>A Timer of 15 minutes starts after the completion of the 1st (personality based) question</b></p>
    <br>

    <p>Use Effective Time Managent Skills to Answer All the questions </p>

    <br>
    <br>

    <p></p>


    <p>Click start test when you are ready to take the test</p>

    
    <br>
    <br>
    <p><b></b></p>

    <br>
    <br>
    <br>
    <br>
    <form>
        I declare that i read all the above Instructions
        <input type="checkbox" id="check" >
    </form>
    <p id = "text"></p>
    <button onclick="p()" id="sub">Start Test</button>
</body>
    <script>
        
        let text = document.getElementById("text")
        function p(){
            let c = document.getElementById("check")
            if(c.checked !=true){
                text.innerHTML = "check the declaration";
            }
            else{
                window.location.assign("/test"); 
            }
        }
        

    </script>
</html>