<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HOME</title>
  <link rel="stylesheet" href="{%static 'question.css'%}">
</head>

<body>
  <nav>
    <a href="/">Home</a>
    <a href="/about">Take Test</a>
    <!-- <a href="/about">About Test</a> -->
    <a href="/contact">Contact</a>
  </nav>

  <div class="homepage-component">
    <img src="{%static './images/homeimg.png' %}" alt="Image">
    <div class="text-container">
      <h2>INTERVIEW 😮😨</h2>
      <p>Our platform provides job seekers with the opportunity to practice their interview skills and get feedback from
        our AI. We also offer resources to help job seekers prepare for interviews and increase their chances of landing
        their <b>dream job 😎😎</b>.</p>
      <p><b>Sounds cool rigth just give a try 😁😁</b></p>
      <center><button><a href="/about">Take Test</a></button></center>
    </div>
  </div>


</body>

</html>