<!DOCTYPE html>

{% load static %}
<html lang="en">

<head>
<script src="https://code.responsivevoice.org/responsivevoice.js?key=hTzJLKNo"></script>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Test</title>
<link rel="stylesheet" href="{%static 'test.css'%}">
</head>

<body>
<button id="stop">Answered</button>

</body>


<script>
const questionsList = JSON.parse('{{questions_list |safe}}');
const last_q = questionsList.length;
let qno=0;
let current_ans="";
let your_answers = [];
const stop = document.getElementById("stop");
const recognition = new webkitSpeechRecognition();
recognition.continuous = true;
recognition.lang = "en-US";
recognition.interimResults = false;
recognition.maxAlternatives = 1;

stop.addEventListener("click", () =>{
    qno = qno+1;
    recognition.stop();
    console.log(current_ans);
    current_ans = "";
    if(qno<last_q){
        speak_and_listen(qno);
    }
    else{
        
    }
});


function speak_and_listen(qno){
    console.log("Speking!");
    responsiveVoice.speak(questionsList[qno], 'UK English Male', {
        onend: () => {
            console.log("spoke");
            if (!recognition.isRecognitionActive) {
                recognition.start();
            }
            console.log("listening!");
            recognition.onresult = (e) => {
                console.log(e.results[e.results.length - 1][0].transcript);
                current_ans += e.results[e.results.length - 1][0].transcript;
                console.log("its current answer:-  " + current_ans);
            };
            recognition.onerror = function (e) {
                console.error('Speech recognition error:', e.error);
            };
        }
    });
}
speak_and_listen(qno) 
</script>


</html>